* {
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

:root {
    --mainblue: #0065FC;
    --greybg: #F2F2F2;
    --selectblue: #DEEBFF;
}

body {
    max-width: 1400px;
    margin: auto;
}

.global {
    width: 95%;
    margin: auto;
}

h1 {
    font-size: 20px;
    margin-bottom: 13px;
}

h2 {
    font-size: 19px;
    font-weight: 700;
}

h3 {
    font-size: 17px;
    font-weight: 700;
}

p {
    font-size: 13px;
}

.media_p {
    margin-bottom: 20px;
    font-size: 16px;
}

li {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.nav_bar {
    display: flex;
    gap: 50px;
    height: 90px;
}

.nav_bar :hover {
    border-top: 1px solid var(--mainblue);
    color: var(--mainblue);
}

.nav_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: #2a2828a8;
    border-top: 2px solid white;
}

.nav_button:hover {
    border-top: 2px solid var(--mainblue);
}

#logo {
    width: 100px;
}

.section_container {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

form {
    display: flex;
}

.icon_box {
    background-color: var(--greybg);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 16px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.élément {
    width: 70%;
}

.icon_info_section {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.search {
    border-color: rgba(211, 211, 211, 0.068);
    font-size: 18px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 30px;

}

.picture:hover {
    transform: scale(1.2);
}

#search_icon {
    display: none;
}

.submit {
    color: rgba(255, 255, 255, 0.86);
    background-color: var(--mainblue);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
}

.header_h2 {
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
}

.filter_container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 30px;
}

.filter_btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 50px;
    border: 2px rgba(128, 128, 128, 0.289) solid;
    border-left: none;
    background-color: white;
    border-radius: 50px;
    gap: 17px;
    padding-right: 17px;
    font-weight: 700;
}

.filter_btn:hover {
    transform: scale(1.02);
}

.filter_icon {
    background-color: var(--selectblue);
    color: var(--mainblue);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon_info_section {
    gap: 10px;
}

.info_icon {
    display: flex;
    justify-content: center;
    color: var(--mainblue);
    border: 1px solid rgba(128, 128, 128, 0.31);
    padding: 5px;
    border-radius: 50%;
    width: 1.5%;
    height: 1.5%;
}

.main_box {
    display: flex;

}

.stars {
    color: var(--mainblue);
    display: flex;
    font-size: 12px;
}

.grey_stars {
    display: flex;
    color: rgba(128, 128, 128, 0.365);
}

.hebergements {
    display: flex;
    flex-direction: column;
}

.target_article {
    flex: 0 0 30%;
}

.target_article:hover {
    transform: scale(1.02);
}

.target_lodging {
    display: flex;
    flex: 1 70%;
    gap: 34px;
    padding: 35px;
    margin-right: 35px;
    flex-wrap: wrap;
    background-color: var(--greybg);
    border-radius: 20px;
}

.section_box {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 35px;
}

.moretargetlodging {
    font-size: 18px;
    font-weight: 600;
    flex: auto;
}

.categorie_title {
    width: 100%;
}

.target_figure {
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
    padding: 5px;
}

.target_img {
    border-radius: 15px 15px 0 0;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.target_figcaption {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
}

.popular_header {
    display: flex;
    justify-content: space-between;
}

.popular_lodging {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 30%;
    background-color: var(--greybg);
    border-radius: 20px;
    justify-content: space-between;
    padding: 35px;
}

.aside_figure {
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
    padding: 5px;
}

.aside_figure:hover {
    transform: scale(1.02);
}

.aside_img {
    display: flex;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    height: 116px;
    width: 35%;
}

.aside_figcaption {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 10px 20px;
    justify-content: space-between;
}

.activity {
    display: flex;
    gap: 40px;
}

.activities_title {
    width: 100%;
    padding: 50px 0 20px 0;
    align-self: flex-start;
}

.activity_box {
    display: flex;
    width: 25%;
}


.activities {
    display: flex;
    flex: 1;
}

.activity_figure {
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
    width: 100%;
}

.activity_figure:hover {
    transform: scale(1.02);
}

.activity_img {
    border-radius: 15px 15px 0 0;
    height: 400px;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

.activity_figcaption {
    padding: 20px;
}

.double_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity_img_fort {
    display: flex;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 180px;
    width: 100%;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
    object-position: 50% 40%;
}

.activity_img_island {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 120px;
    width: 100%;
    box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, 0.044);
}

.activity_img_notre-dame {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 140px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.015);
}


.activity_img_longchamp {

    object-fit: cover;
    border-radius: 15px 15px 0 0;
    height: 160px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.015);
    object-position: top left;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    background-color: var(--greybg);
    margin-top: 40px;
    padding: 50px 400px 50px 50px;
}

.footer_ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_category {
    font-weight: 700;
    padding-bottom: 10px;
}

@media only screen and (max-width : 992px)and (min-width: 767px) {
    .media {
        padding: 0 35px 35px 35px;
    }

    .header_h2 {
        width: 100%;
        margin: 0 0 10px 10px;
    }

    .moretargetlodging {
        text-align: center;
        margin-top: 25px;
    }

    .popular_header {
        width: 100%;
    }

    .filter_btn {
        padding-right: 9px;
        gap: 9px;
    }

    .header {
        align-items: center;
        flex-direction: column;
    }

    #logo {
        padding: 10px 0 0 40px;
    }

    .nav_bar :hover {
        border-bottom: 1px solid var(--mainblue);
    }

    .info_icon {
        width: 2%;
        height: 2%;
    }

    .aside_figure {
        flex-direction: column;
        width: 200px;
    }

    .aside_img {
        height: 90px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .aside_figcaption {
        padding: 5px;
    }

    .nav_bar {
        gap: 0px;
    }

    .nav_button {
        justify-content: center;
        font-size: 18px;
        border-bottom: 3px solid rgba(128, 128, 128, 0.115);
        padding: 10px 0 0 10px;
        width: 380px;
        height: 50px;
    }

    .nav_button:hover {
        border-bottom: 3px solid var(--mainblue);
        border-top: none;
    }

    #search_icon {
        display: flex;
        background-color: var(--mainblue);
        color: white;
        border-radius: 12px;
        padding: 17px;
    }

    .submit {
        display: none;
    }

    .filter_container {
        gap: 6px;
    }

    .main_box {
        flex-direction: column;
    }

    .icon_pop {
        padding-right: 30px;
    }

    .popular_lodging {
        background-color: white;
        flex-direction: row;
        padding: 30px 0 0 0;

    }

    .activity {
        flex-direction: column;
        padding: 35px;
    }

    .activity_figure {
        display: flex;
        width: 70%;
        margin: auto;
    }

    .popular_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 35px;
    }

    .categorie_title_2 {
        padding-bottom: 3px;
    }

    .target_lodging {
        margin: 0px;
        background-color: white;
        padding: 0px;
    }

    .activities {
        padding: 90px;
        margin-top: 0px;
    }

    .activities_title {
        text-align: center;
        margin-top: 60px;
    }

    .activity_box {
        flex-direction: column;
        width: 100%;
    }

    .activity_img {
        height: 180px;
        width: 50%;
        border-radius: 15px 0 0 15px;
    }

    .article_img {
        width: 100%;
    }

    .activity_img_fort {
        height: 180px;
        width: 50%;
        border-radius: 15px 0 0 15px;
    }

    .activity_img_notre-dame {
        height: 180px;
        width: 50%;
        border-radius: 15px 0 0 15px;
    }

    .activity_img_longchamp {
        height: 180px;
        width: 50%;
        border-radius: 15px 0 0 15px;
    }

    .activity_img_island {
        height: 180px;
        width: 50%;
        border-radius: 15px 0 0 15px;
    }

    .double_article {
        gap: 40px;
    }

    .footer_box {
        padding: 40px;
    }

    .footer_category {
        padding: 20px 0 15px 0;
    }
}

@media only screen and (max-width : 767px) {
    .global {
        margin: 0;
        width: 100%
    }

    h1 {
        padding: 0 49px 0 20px;
        margin-bottom: 0px;
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    .header_h2 {
        width: 100%;
        margin: 0 0 0 10px;
    }

    .media_p {
        padding: 20px 49px 0 20px;
        font-size: 18px;
    }

    .header {
        align-items: center;
        flex-direction: column;
    }

    #logo {
        padding: 20px 0 0 45px;
    }

    .nav_bar :hover {
        border-bottom: 1px solid var(--mainblue);
        border-top: 1px solid white;
    }

    .info_icon {
        width: 6%;
        height: 6%;
        align-items: center;
    }

    .section_box {
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    .info {
        font-size: 18px;
    }

    .aside_img {
        height: 130px;
        width: 38%;
    }

    .aside_figcaption {
        padding-top: 10px;
    }

    .nav_bar {
        gap: 0;
    }

    .nav_button {
        justify-content: center;
        font-size: 18px;
        border-bottom: 3px solid rgba(128, 128, 128, 0.115);
        padding: 10px 0 0 10px;
        width: 197px;
        height: 50px;
    }

    .nav_button:hover {
        border-bottom: 3px solid var(--mainblue);
        border-top: none;
    }

    #search_icon {
        display: flex;
        background-color: var(--mainblue);
        color: white;
        border-radius: 12px;
        padding: 17px;
    }

    .filter_btn {
        padding-right: 21px;
    }

    .submit {
        display: none;
    }

    form {
        padding: 20px;
    }

    .filter_container {
        gap: 20px;
        padding: 20px;
        margin: 0px;
    }

    .main_box {
        flex-direction: column;
    }

    .icon_info_section {
        flex-wrap: nowrap;
        gap: 10px;
        margin: 0px;
        padding: 10px 20px 30px 20px;
    }

    .popular_lodging {
        padding: 30px;
        order: -1;
        border-radius: 0px;
        gap: 13px;
    }

    .target_lodging {
        margin: 0px;
        background-color: white;
        padding: 35px 30px 30px 30px;
        flex-flow: wrap;
        gap: 20px;
    }

    .moretargetlodging {
        padding: 20px 0 0 0;
    }

    .target_article {
        flex: auto;

    }

    .activity {
        flex-direction: column;
        padding: 35px;
        gap: 30px;
    }

    .activity_figure {
        width: 100%;
        margin: auto;
    }

    .popular_header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .categorie_title_2 {
        padding-bottom: 3px;
        font-size: 22px;
    }

    .activities {
        padding: 90px;
        margin-top: 0px;
    }

    .activities_title {
        padding: 25px 0 0 30px;
    }

    .activity_box {
        flex-direction: column;
        width: 100%;
    }

    .activity_img {
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .article_img {
        width: 100%;
    }

    .activity_img_fort {
        height: 120px;
        border-radius: 15px 15px 0 0;
        object-position: 50% 45%;
    }

    .activity_img_notre-dame {
        height: 120px;
        border-radius: 15px 15px 0 0;
        object-position: top;
    }

    .activity_img_longchamp {
        height: 120px;
        border-radius: 15px 15px 0 0;
        object-position: unset;
    }

    .activity_img_island {
        height: 120px;
        border-radius: 15px 15px 0 0;
        object-position: bottom left;
    }

    .double_article {
        gap: 30px;
    }

    .footer_box {
        flex-direction: column;
        padding: 20px 40px 40px 40px;
        margin: 20px 0 0 0;

    }

    .footer_category {
        padding: 30px 0 15px 0;
    }
}